@import "./authen.scss";
.authenicate-container {
  .right-side-user {
    .options-container {
      .single-sign-on {
        .sign-in-facebook, .sign-in-google {
          display: inline;
          background-color: #4c69ba;
          color: var(--white);
          height: 44px;
          .sign-in-facebook-icon, .sign-in-google-icon {
            width: 45px;
            padding: 10px;
          }
          .sign-in-facebook-text, .sign-in-google-text { 
            flex: 1;
            text-align: center;
            font-size: 16px;
          }
        }
      }
      .or-class {
        display: flex;
        justify-content: center;
        color: #475261;
      }
      .login {
        .title-login {
          font-weight: 600;
          font-size: 36px;
          text-align: left;
          margin-bottom: 15px !important;
          text-transform: unset;
        }

        .forgot-password {
          font-weight: 600;
          color: #f15b5a;
          text-decoration: unset !important;
          font-size: 16px;
          margin-top: 0;
        }

        .submit-authen-button {
          height: 56px;
          border-radius: 6px;
          background-color: #f15b5a;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          text-transform: unset;
          letter-spacing: unset;
          width: 100%;
          /* padding: 0 10px; */
          color: #ffffff;
          border: none;
          margin-top: 40px;
          cursor: pointer;
          /* background-color: rgba(203, 203, 203, 0.5) !important; */
          -webkit-transition: 0.5s all;
          -moz-transition: 0.5s all;
          -ms-transition: 0.5s all;
          -o-transition: 0.5s all;
          transition: 0.5s all;
        }

        .register-direction {
          color: #475261;
          margin-top: 24px;
          & span {
            margin-right: 5px;
          }
          & a {
            font-weight: 600;
            color: #f15b5a;
            text-decoration: unset !important;
            font-size: 16px;
            margin-top: 0;
          }
        }
      }
    }
  }
}
