@import "./authen.scss";

.content-container {
  .title-login {
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    margin-bottom: 15px;
    text-transform: unset;
    margin: 0 0 30px 0;
  }

  & p {
    margin-bottom: 40px;
  }

  .choose-role {
    margin: 0;
    .choose-role-li {
      display: flex;
      align-items: center;
      background: #ffffff;
      border: 1px solid #f3efeeb8;
      box-sizing: border-box;
      box-shadow: 0px 7px 64px rgb(0 0 0 / 7%);
      border-radius: 8px;
      padding: 20px;
      transition: 0.3s all;
      .choose-role-img {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        overflow: hidden;
      }
      .choose-role-content {
        width: calc(100% - 96px);
        box-sizing: border-box;
        padding-left: 25px;
        padding-right: 20px;
        position: relative;
        cursor: pointer;
        & h4 {
          font-size: 20px;
          color: #1c2025;
          margin-bottom: 8px;
        }
        .arrow {
          position: absolute;
          right: 0;
          top: 50%;
          width: 15px;
          height: 15px;
          opacity: 0;
        }
      }
    }
    .choose-role-li:hover {
      border: solid 1px #f15b5a;
      .arrow {
        color: red;
        opacity: 0.5;
        transition: 0.3s all;
      }
    }
    .choose-role-li:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
