@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/banner/banner.scss";
@import "../components/selectRole/selectRole.scss";
@import "../components/card/card.scss";

.bg-blue {
  background: #D5E9FA;
}

.p-top-60 {
  padding-top: 60px;
}

.p-top-40 {
  padding-top: 40px;
}

.p-bottom-40 {
  padding-bottom: 40px;
}

.m-top-30 {
  margin-top: 30px;
}

.m-bottom-10 {
  margin-bottom: 10px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.m-top-50 {
  margin-top: 50px;
}

.m-bottom-30 {
  margin-bottom: 30px;
}

.fw-600 {
  font-weight: 600;
}

.fz-20 {
  font-size: 20px;
}

.container {
  max-width: 1200px;
  background-color: transparent;
  .nav-link {
    color: black;
  }
}

.col-md-6 {
  position: relative;
  // width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

// .row {
//     display: flex;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;
// }

